body, html {
    height: 100%;
}
.Title{
	font-size:100px;
	color:#D4D9FF; 
	padding-top:300px;
	padding-left:50px;
}

.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("moon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.startingBg{
  background-color:#1B2050
}
.font{
font-family:Copperplate, Papyrus, fantasy;
color:#0CB1E9;
font-size:100px;
}

.content{
text-align:center;
}
.content h1{
  font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;
padding-top:10%;
font-size:160px;
color:#d399df ;
font-weight: 600;
transition:0.5s;
}
.content h1:hover{
-webkit-text-stroke: 2px #ffffff;
color:transparent;

}
.content a{
text-decoration: none;
display: inline-block;
color: #e90cd7;
font-size: 24px;
border: 2px solid #e90ce9;
padding: 14px 70px;
border-radius: 50px;
margin-top: 20px;
}
.content h1:hover{
  -webkit-text-stroke: 2px #ffffff;
  color:transparent;
  
  }
* {
  --bs-gutter-x :0 !important;
}

.divider{
  background-color:black;
  height:50px;
  width:100%;
}
.navy {
  background-color: #1B2050;
}

.lblue {
  background-color: #A6AFFF;
}

.lrblue {
  background-color: #808CFF;
}

.lnavy {
  background-color: #29338A;
}

.lrnavy {
  background-color: #1D256F;
}
.ldblue{
  background-color:#6D79E8;
}

.bpurple {
  background-color: #6D79E8;
}

.bluebox {
  background-color: #4B54A8;
}

.lbluebox {
  background-color: #6D8CF9;
}
.lPurple{
  background-color: #8F73FF;
}
.dPurple{
  background-color: #5F3DBD;
}

.aboutAsian{
  background-image: url("asianDancing.png");
  margin-top:40px;
  margin-left:400px;
  height: 440px;
  width:440px;
  background-color: #bbb;
  border-radius: 50%;

  position:relative;
 
  z-index: 2;
}

.wabox {
  padding-top:150px;
  padding-bottom:350px;
}

.white {
  color:white;
}

.center {
  text-align:center;
}

.lightp {
  background-color:#E3CDFF;
}

.header {
  height: 94.8vh;
  background-color: #6d72c3;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: 50% 0;
	background-size:cover;
}

#navbar {
  background-color:#6d72c3;
overflow: hidden;
transition: background-color 0.5s;
height: auto;
}

#navbar a {
float: left;
display: block;
text-align: center;  
color: #cbd7e6;
transition: color 0.5s;
height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.scroll-downs {
  position: absolute;
  top: 75%;
  right: 0;
  left: 0;
  margin: auto;
  width: 34px;
  align-content: 100%;
}
.mousey {
  top: 80%;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid white;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: white;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.not-mousey {
  position: absolute;
  top: 83%;
  right: 0;
  left: 0;
  margin: auto;
  align-content: 100%;
  font-family:'Paytone One', sans-serif;
  font-size: 25px;
  color: white;
}

.crew-nav {
  overflow: hidden;
}

#navbar {
  overflow: hidden;
   z-index: 110000;
}

#navbar a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Paytone One', sans-serif;
}

#navbar a:hover {
  background-color: #5941a9;
    transition: background-color 0.3s;
  z-index: 11000000;
}

a.active {
  background-color: #5941a9;
} 

a.btn {
  color: #F8EBF0;
   background-color: #0A2C64;
   border-color: #0A2C64;
 }
 
 a.btn:hover {
   transition: color 1;
   background-color: #5941a9;
   border-color: #5941a9;
 }


 .logo {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  }
nav.navbar.transparent {
 background-color:rgba(0,0,0,0);
}
.filePage{
  margin-top:200px;
  margin-bottom: 200px;
  background-color:#6D8CF9
}

@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  width: 75%;
  height: 500px;
  transition: all 400ms;
}

.container:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.box {
  position: relative;
  background: var(--img) center center;
  background-size: cover;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box:hover {
  filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-6:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-7:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-8:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-9:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}


.box:nth-child(odd) {
  transform: translateY(-16px);
}

.box:nth-child(even) {
  transform: translateY(16px);
}

.box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
}

.box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 400ms;
}

.active1:active{
  box-shadow: 10px 5px 5px red !important;
}

p {
  text-align: center;
}
.bio{
  padding-top:100px;
}