body, html {
    height: 100%;
}
.Title{
	font-size:100px;
	color:#D4D9FF; 
	padding-top:300px;
	padding-left:50px;
}
.navbar{
	background-color:#2A3673;
}
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("moon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
.navy {
  background-color: #1B2050;
}

.lblue {
  background-color: #A6AFFF;
}

.lrblue {
  background-color: #808CFF;
}

.lnavy {
  background-color: #29338A;
}

.lrnavy {
  background-color: #1D256F;
}
.ldblue{
  background-color:#6D79E8;
}
