body, html {
    height: 100%;
}
.Title{
	font-size:100px;
	color:#D4D9FF; 
	padding-top:300px;
	padding-left:50px;
}
.navbar{
	background-color:#2A3673;
}
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("moon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

* {
  --bs-gutter-x :0 !important;
}

.divider{
  background-color:black;
  height:50px;
  width:100%;
}
.navy {
  background-color: #1B2050;
}

.lblue {
  background-color: #A6AFFF;
}

.lrblue {
  background-color: #808CFF;
}

.lnavy {
  background-color: #29338A;
}

.lrnavy {
  background-color: #1D256F;
}
.ldblue{
  background-color:#6D79E8;
}

.bpurple {
  background-color: #6D79E8;
}

.bluebox {
  background-color: #4B54A8;
}

.lbluebox {
  background-color: #6D8CF9;
}
.lPurple{
  background-color: #8F73FF;
}
.dPurple{
  background-color: #5F3DBD;
}
.about{

  height:1000px;
  width:100%;
}
.DesBox{
  margin-top:100px;
  margin-left:1000px;
  background-color:#E3CDFF;
  height:450px;
  width:1250px;
  position:absolute;
  z-index: 1;
}
.aboutAsian{
  background-image: url("asianDancing.png");
  margin-top:120px;
  margin-left:600px;
  height: 650px;
  width:650px;
  background-color: #bbb;
  border-radius: 50%;

  position:absolute;
 
  z-index: 2;
}
.asianTitle{
  color:white;
  padding-top:20px;
  font-size:50px;
}
.asianDesBox{
  height:350px;
  width:600px;
}
.asianDes{
  padding-top:10px;
  font-size:20px; 
}
